<% layout('layout') %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="" src="<%= user.profile.picture%>" />
        <form method="POST" action="/reserve-agreement">
          <div class="card-body">
            <h3 class="card-text"><%= teacher.profile.name %></h3>
            <p class="card-text">Sallary: <%= teacher.sallary%>$</p>
            <p class="card-text">Address: <%= teacher.address%></p>
            <input type="text" value="<%= teacher.subjects %>"" name="subject"
            class="card-text"/>
            <button type="submit" class="btn btn-primary" name="reserve">
              Reserve now!
            </button>
            <a href="/" class="btn btn-danger btn-sm"> back To home</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
