<% layout('layout') -%>

<div class="container">
  <h1 class="m-4"><%= subjects.name %></h1>
  <div class="row">
    <% for( let i = 0 ; i < users.length; i++) { %> <%if( subjects.name ==
    users[i].subjects ) {%>
    <div class="col-md-4">
      <div class="card listshadow">
        <img
          class=""
          src="<%= users[i].profile.picture %>"
          style="width: 100%;"
          alt="Picture <%=users[i].subjects%>"
        />
        <div class="card-body">
          <h3 class="text-primary card-text">Teacher name:</h3>
          <h4 class="card-text"><%= users[i].profile.name %></h4>
          <h3 class="text-primary card-text">
            Subjects:
            <h4 class="card-text"><%= users[i].subjects %></h4>
          </h3>

          <h3 class="text-primary card-text">Sallary:</h3>
          <h4 class="card-text text-danger"><%= users[i].sallary %>$</h4>
          <a href="/product/<%= users[i]._id %>" class="btn btn-primary"
            >Reserve now</a
          >
        </div>
      </div>
    </div>
    <%}%> <% } %>
  </div>
</div>
