<% layout('layout') %>

<div class="container-fluid">  
  <table class="table listshadow">
    <thead class="thead ">
      <tr  class="" style="font-size:22px; padding: 5px;">
        <th >Courses List for: <span class="text-primary ml-2  " style="font-size: 24px;"><%= student.profile.name %></span> </th>
      </tr>
    </thead>
  </table>
  <table class="table listshadow">
    <thead class="thead ">
      <tr  class="table-danger" style="font-size:22px; padding: 5px;">
      </tr>
    </thead>
  </table>
<table class="table ">
    <thead class="thead-light">
      <tr>
        <th>Teacher Name</th>
        <th>Subject</th>
        <th> Address</th>
        <th> price</th>
        <th> Register date</th>
      </tr>
    </thead>
    <tbody class="listshadow">
      <%for(let i = 0; i<student.courses.length; i++){%>
      <tr>
        <td><b><%= student.courses[i].name %></b></td>
        <td><h5><%= student.courses[i].subject %></h5></td>
        <td><h5><%= student.courses[i].address %></h5></td>
        <td><h5><%= student.courses[i].price %>$</h5></td>
        <td class="text-danger"><%= student.courses[i].date %></td>
      </tr>
      <%}%>
       <tr>
         <td><b>Total prices:</b></td>
         <td class="text-warning"><h4><b><%= student.total %></b></h4></td>
       </tr> 
    </tbody>
  </table>
</div>
   